In [1]:
a = 10
b = 20
a + b

30

In [3]:
def add(x, y):
    return x + y

add(10, 11)

21

In [4]:
a=[1,2,3,4]
for i in a:
    print(i, end='')

1234

In [5]:
a.append(5)
a

[1, 2, 3, 4, 5]

In [6]:
a.pop()  # 마지막 요소 삭제
a

[1, 2, 3, 4]

In [7]:
a.insert(1, 10)  # 특정 위치에 요소 삽입
a

[1, 10, 2, 3, 4]

In [8]:
a.remove(3)  # 특정 요소 삭제
a

[1, 10, 2, 4]

In [9]:
sum(a)

17

In [10]:
dic = {'대원': 13, '혜수': 9}
dic

{'대원': 13, '혜수': 9}

In [11]:
dic['혜수']

9

In [ ]:
dic['진'] = 14  # 딕셔너리 요소 추가
dic

## pandas 라이브러리 포함
### Series와 DataFrame 클래스가 제공됨
#### '#'의 개수가 적을수록 글꼴 크기가 크다
### Series - 1차원 벡터 데이터에 행방향 인덱스를 붙인 것
### DataFrame - 2차원 행과 열의 형태로  표현되는 것

In [13]:
import pandas as pd

# 리스트를 사용해서 Series 생성
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
# 딕셔너리를 이용한 Series 생성
dic = {'100': '남', '101': '여', '102': '', '103': '남'}
gender = pd.Series(dic)
gender

100    남
101    여
102
103    남
dtype: object

In [15]:
name = pd.Series({'100': '이산하', '101': '강하늘', '102': '김산', '103': '안전해'})
name

100    이산하
101    강하늘
102     김산
103    안전해
dtype: object

In [16]:
# DataFrame 사용
회원 = pd.DataFrame({
    '회원번호': ['100', '101', '102', '103'],
    '성별': ['남', '여', '', '남'],
    '이름': ['이산하', '강하늘', '김산', '안전해']
})
회원

  회원번호 성별   이름
0  100  남  이산하
1  101  여  강하늘
2  102      김산
3  103  남  안전해

In [18]:
# 인덱스(기준)를 회원번호로 설정
회원 = pd.DataFrame({
    '회원번호': ['100', '101', '102', '103'],
    '성별': ['남', '여', '', '남'],
    '이름': ['이산하', '강하늘', '김산', '안전해']
})
회원=회원.set_index('회원번호')
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102       김산
103   남  안전해

In [19]:
회원['이름']

회원번호
100    이산하
101    강하늘
102     김산
103    안전해
Name: 이름, dtype: object

In [20]:
회원['성별'] == '여'

회원번호
100    False
101     True
102    False
103    False
Name: 성별, dtype: bool

In [21]:
회원[회원['성별'] == '여']

     성별   이름
회원번호
101   여  강하늘

### 값 변경하기
#### loc(=location 위치) 속성 사용 - 행이름, 칼럼이름
### iloc 속성 - integer location(정수 위치) ex.[0][1]

In [23]:
회원.loc['102']['이름'] = '송중기'
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102      송중기
103   남  안전해

In [24]:
회원.iloc[2][0] = '남'  # 회원번호는 인덱스이므로 제외
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102   남  송중기
103   남  안전해

## csv 파일로 저장하기
### csv(comma seperated value) - 쉼표로 구분된 값
### pandas에 제공되는 함수 - to_csv(): 파일 생성(f.write와 비슷)
### read_csv(): 파일 읽기(f.read와 비슷)

In [25]:
회원.to_csv("./datas/회원명부.csv")

In [28]:
회원 = pd.read_csv("./datas/회원명부.csv")
회원

   회원번호 성별   이름
0   100  남  이산하
1   101  여  강하늘
2   102  남  송중기
3   103  남  안전해